# Uncomment the line below and supply the Database urls
# DATABASE_URL=postgres://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<database>
# TEST_DATABASE_URL=postgres://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<database>
